.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 2em;
}

.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 2em;
    right: 0;
    opacity: 0;
}